@import "./_color-palette";

.winner-modal {
  background-color: white;
  width: 22rem;
  height: 14rem;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 0 7px 0 0 black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-name {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 1.2rem;
}

.wins-label {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -0.7px;
}

.play-again_button {
  font-family: "Roboto", sans-serif;
  background-color: color(main-color);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}
